services:
  api:
    build: .
    container_name: fastapi_debug
    volumes:
      - .:/app
    ports:
      - "8000:8000"
      - "5678:5678"
    command: >
      python -m debugpy
      --listen 0.0.0.0:5678
      --wait-for-client
      -m uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
      --reload
